<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/landing.css">
    <title>Stilleaf</title>
    <link rel="icon" href="./tree-green.png">
</head>
<body>
    <nav>
        <div style="display: flex; align-items: center; gap: 15px;">
            <img id='tree' src="tree.png">
            <h1 style="display: inline;" id="page-title">Stilleaf</h1>
        </div>
    </nav>
    <section class="fadeIn" id="hero">
        <div id="actions-container" style="display: flex; flex-direction: column; justify-content: center; padding-left: 100px; gap: 30px;">
            <h1>Reflect. Grow. <br> Propser.</h1>
            <p>StillLeaf helps you become your best self through journaling </p>
            <div style="display: flex; flex-direction: row; gap:40px">
                <a href="/signup"><button class="hero-btn" id="signup">SignUp</button></a>
                <a href="/login"><button class="hero-btn" id="login">Login</button></a>
            </div>
        </div>
        <div id="leaf-container" style="display: flex; flex-direction: column; justify-content: center; align-items: flex-start; padding-right: 100px;">
            <img src="./leaf.jpg">

        </div>
    </section>

    <script>
        document.querySelector('#page-title').addEventListener('click', ()=>{
            window.location.href = '/'
        })
    </script>

</body>
</html>