<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/landing.css">
    <title>StillLeaf</title>
</head>
<body>
    <nav>
        <div style="display: flex; align-items: center; gap: 15px;">
            <img id='tree' src="tree.png">
            <h1 style="display: inline;">StillLeaf</h1>
        </div>
    </nav>
    <section id="hero">
        <div style="display: flex; flex-direction: column; justify-content: center; padding-left: 100px; gap: 30px;">
            <h1>Reflect. Grow. <br> Propser.</h1>
            <p>StillLeaf provides you with a space to gather your thoughts and prepare for what’s ahead through reflection and task planning </p>
            <div style="display: flex; flex-direction: row; gap:40px">
                <a href="/signup"><button class="hero-btn" id="signup">SignUp</button></a>
                <a href="/login"><button class="hero-btn" id="login">Login</button></a>
            </div>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: flex-start; padding-right: 100px;">
            <img src="./leaf.jpg">

        </div>
    </section>

</body>
</html>