<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stilleaf</title>
    <link rel="icon" href="./still_leaf_logo.png">
    <link rel="stylesheet" href="./styles/password_reset_request.css">
</head>
<body>
    <nav>
        <div style="display: flex; align-items: center; gap: 15px;">
            <img id='tree' src="tree.png">
            <h1 style="display: inline;">Stilleaf</h1>
        </div>
    </nav>
    
    <% if (locals.email_sent) {%>
        <h2>Request Password Reset</h2>
        <img id="leaf" src="leaf.jpg" width="400px">
        <p>A password reset link has been sent to your email. <a href="/login">Return to login</a></p>

    <%} else { %>

    <div id="container1">

        <form method="POST">
            <h2>Request Password Reset</h2>
            <input type="email" placeholder="Enter Your Email" value="<%= locals.email ? email : '' %>" required name="email">
            <button  id="reset" type="submit">Reset</button>
        </form>
    </div>




     <% if (locals.errorMessage) {%>
            <div class="error"> <%= errorMessage %>  <img id="close" style="position:absolute; right: 10px; width: 20px; top: 10px;" src="close.png"></img></div>
    <%}%>


    <% } %>

    <script src="./scripts/password_reset_request.js"></script>
    
</body>
</html>