<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stilleaf</title>
    <link rel="icon" href="./still_leaf_logo.png">
    <link rel="stylesheet" href="./styles/resetpassword.css">
</head>
<body>

   <% if (locals.errorMessage){ %>
        <h1><%=errorMessage%></h1>
   <% } else if (locals.success) { %>
       <div id="container1">

            <div id="submission_confirmation">  
                <div style="display: flex; align-items: center; gap: 10px;">
                    <img id='logo' src="still_leaf_logo.png">
                    <h1 style="display: inline;">Stilleaf</h1>
                </div>
                <img id="checkmark" src="check_mark.png"></img>
                <h2>Password Reset</h2>
                <p>You may now login with your new password.</p>
                
                <button  id="return_to_login" type="submit">Return to Login</button>
            </div>
        </div>
    
    <% }else{ %>
        <div id="container1">
        <form method="POST">
            <div style="display: flex; align-items: center; gap: 10px;">
                    <img id='logo' src="still_leaf_logo.png">
                    <h1 style="display: inline;">Stilleaf</h1>
            </div>
            <h2>Reset Password</h2>
            <input type="password" placeholder="Enter New Password" required name="password">
            <input type="password" placeholder="Confirm New Password" required name="passwordconfirm">
            <button type="submit" id="reset">Reset</button>
        </form>
    </div>
   <% } %>

   <script src="./scripts/resetpassword.js"></script>
    
</body>
</html>