<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stilleaf</title>
    <link rel="icon" href="./tree-green.png">
</head>
<body>
    <h1>This is the password reset page</h1>
    
</body>
</html>