<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stilleaf</title>
    <link href="./styles/routines.css" rel="stylesheet">
    <link rel="icon" href="./tree-green.png">
</head>
<body>
    <div id="hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
    </div>
    <nav>
        <div style="display: flex; align-items: center; gap: 15px;">
            <img id='tree' src="tree.png">
            <h1 style="display: inline; padding:0; margin:0">Stilleaf</h1>
        </div>
    </nav>
    <div id="page-content">
        <div id="side-bar">
            <div id="search-bar-div">
                <input id="search-bar" type="text" placeholder="Search Routines">
                <img id="mag-glass" src="./mag-glass.png">
            </div>
            <div id="new-routine-button-container">
                    <button id="new-routine-sidebar-button"> New Routine <img src="plus.png" style="width: 20px; margin-left: 5px; transform: translateY(3px);"> </button>      
            </div>
            <div id="routines-list">
                <% for(const routine of routines){%>
                    <div class="routine-li" data-selected="false" data-routine_id="<%=routine.id%>" data-routine_title="<%= routine.title%>">
                        <div class='routine-li-content' >
                            <p class='routine-li-title'><%= routine.title ? routine.title : "Untitled" %></p>
                        </div>
                        <div class='routine-task-count'>
                            <p><span class='task-count-num'>0</span> <br> <span class='task-count-text'>tasks left</span></p>
                        </div>
                    </div>
                <%}%>
            </div>
            <div id="logout-lock-options">
                <p><span id="logout">Logout</span></p>
            </div>
        </div>
        <div id="routine-content">
            <div id="blank-routine-content">
                <img src="leaf.jpg" id="leaf" style="height: 450px;">
                <h2>Growth Takes Time</h2>
                <button id="new-routine-btn">
                    New Routine
                    <img id="plus-btn" src="add-btn.png">
                </button>
            </div>
            <div id="instantiated-routine-content" style='padding:20px; width:100%; display: none;' >
                    <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; width: 100%;">

                        <input id='title-input' placeholder='Untitled' type='text' style='border:none; padding: none; margin:none;'>
                        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 15px; padding-top: 8px;">
                            <img id="refresh" src="./refresh.png" width="auto" height="30px">
                            <img id="delete" src="bin.png" id="delete" width="auto" height="30px">
                            <img id="new-task" src="plus-green.png" width="auto" height="30px">
                            
                        </div>

                    </div>
                    
            </div>

        </div>
    </div>
    <div id="navbar">
        <a class="nav-item" href="/leaves">Reflections</a>
        <a class="nav-item" href="/routines">Routines</a>
        <a class="nav-item" href="/habits">Habits</a>
        <a class="nav-item" href="/account">Account</a>
    </div>
    <script src="./scripts/routines.js"></script>
</body>
</html>