*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    background-color: #4A513F;
    padding: 10px;
    color: white;
    font-family: "Alatsi", sans-serif;
    font-weight: bold;
    font-style: normal;
    display: flex;
    align-items: center;
    gap:15px;
    height: fit-content;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;   
}

nav h1{
    font-size: 2.5rem;
    font-weight: bold;
}

nav h1:hover{
    cursor: pointer;
}

#tree{
    display: inline;
    height:60px;
    transform: translateY(-5px);
  
}

h2{
    text-align: center;
    margin-top:50px;
    color:#4A513F;
    font-size: 3rem;
}

#leaf{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: auto;
    margin-top: 20px;
}

input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    font-size: 1.5rem;
    margin-bottom: 40px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #4A513F;
}

button{
    font-size: 2rem;
    width: 150px;
    padding: 10px;
    background-color: #4A513F;
    border: none;
    border-radius: 10px;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

#reset{
    background-color: #4A513F;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


button:hover{
    cursor: pointer;
}

.error{
    background-color: rgb(228, 126, 126);
    padding: 10px;
    padding-right: 40px;
    color: white;
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#close:hover{
    cursor: pointer;
}


form{
    font-family: "Alatsi", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #C0C1BD;
    padding: 25px;
    margin-top: 150px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 5px 5px #8D8D8D;

}

#container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



form h2{
    color: black;
    font-size: 2.3rem;
    margin-bottom: 30px;
    font-weight: bold;
    margin-top: 15px;
   
}

input{
    margin-bottom: 30px;
}


p{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 25px;
    color: #4A513F;
}

a{
    color: #4A513F !important;
}