*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
     padding: 10px;
    color: #41623e;
    font-family: "Alatsi", sans-serif;
    font-weight: bold;
    font-style: normal;
    display: flex;
    align-items: center;
    gap:15px;
    height: fit-content;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 20px;   
    padding-top:20px;   
}



h1{
    font-size: 1.6rem;
}

#logo{
    display: inline;
    height:35px;
    transform: translateY(-3px);
  
}

h2{
    text-align: center;
    color:#4A513F;
   
}




input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    font-size: 1.5rem;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #4A513F;
}

button{
    font-size: 1.2rem;
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 20px
}

#reset{
    background-color: #4A513F;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


button:hover{
    cursor: pointer;
}

.error{
    background-color: rgb(228, 126, 126);
    padding: 10px;
    padding-right: 40px;
    color: white;
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#close:hover{
    cursor: pointer;
}



form{
    font-family: "Alatsi", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #f9f5ef;
    padding: 25px;
    margin-top: 150px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    text-align: left !important;
    border-radius: 15px;

    width: 425px;
    max-width: 85vw;
    align-items: left;
}

#container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#submission_confirmation{
    font-family: "Alatsi", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #f9f5ef;
    padding: 25px;
    margin-top: 150px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    /* text-align: center !important; */
    border-radius: 15px;

    width: 425px;

 }


form h2, #submission_confirmation h2{
    color: black;
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 25px;

   text-align: left;
}

input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 1rem;
    
    padding: 10px;
    
    border-radius: 10px;
    background-color: #ffffff;
    color: #4A513F;
    margin-top: 25px;

}

#container1{
    display: flex;
    flex-direction: column;
align-items: center;;  
}

#checkmark{
    align-self: center;
    width: 75px;
    margin-top: 25px;
}


p{
    
    font-size: 1rem;
    color: black;
    margin-top: 20px;
   
}

a{
    color: #4A513F !important;
}



form h2{
    color: black;
    font-size: 1.8rem;
    
    font-weight: bold;

}





#reset, #return_to_login{
    background-color: #556738;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#submission_confirmation h2{
    text-align: center !important;
    align-self: center !important;
    width: 100% !important;
}



@media screen and (max-width: 400px) {

    form, #submission_confirmation{
        width: 80%;
        margin-top: 100px;
        padding-left: 20px;
        padding-right: 20px;
    
    }

    form h2, #submission_confirmation h2{
        font-size: 1.5rem;
    }
}