*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Alatsi", sans-serif;
}


nav{
    background-color: #4A513F;
    padding: 10px;
    color: white;
    font-family: "Alatsi", sans-serif;
    font-weight: bold;
    font-style: normal;
    display: flex;
    align-items: center;
    gap:15px;
    height: fit-content;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;   
    position: sticky;
    top: 0;
}


#hamburger{
  display: flex;
  width:32px;
  height:25px;
/*   background-color:black; */
  flex-direction:column;
  justify-content: space-between;
  transform-origin: center center;
  z-index: 5;
  position: relative;
  position: absolute;
  top: 25px;
  right: 20px;
}

#hamburger:hover{
    cursor: pointer;
}

.bar{
  width: 32px;
  min-width: 32px;
  max-width: 32px;
  height:3px;
  min-height: 3px;
  max-height: 3px;
  background-color:white;
  border-radius:5px;
  z-index:5;
  position: relative;
}




nav h1{
    font-size: 2.5rem;
    font-weight: bold;
}

nav h1:hover{
    cursor: pointer;
}

#tree{
    display: inline;
    height:60px;
    transform: translateY(-5px);
  
}



.rotateLeft{
    animation-name: rotateLeft;
    animation-timing-function: ease-in-out;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.rotateRight{
    animation-name: rotateRight;
    animation-timing-function: ease-in-out;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes rotateLeft{
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(-90deg);
    }
}

@keyframes rotateRight{
    0%{
        transform:rotate(-90deg)
    }

    100%{
        transform:rotate(0)
    }
}



.darken{
    animation-name: darken;
    animation-timing-function: ease-in-out;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
   
}

.lighten{
    animation-name: lighten;
    animation-timing-function: ease-in-out;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
  
}

@keyframes darken{
    0%{
        background-color: white;
        height: 3px;
    }

    100%{
        background-color: black;
        height: 3px;
    }
}

@keyframes lighten{
    0%{
        background-color: black;
        height: 3px;
    }

    100%{
        background-color:white;
        height: 3px;
    }
}


.slideIn{
    animation-name: slideIn;
    animation-timing-function: ease-in-out;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
   
}

.slideOut{
    animation-name: slideOut;
    animation-timing-function: ease-in-out;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}


@keyframes slideIn {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
    
}

@keyframes slideOut {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100%);
    }
    
}

body{
    overflow-x: hidden;
}

#navbar a{
    all: unset;

}

body{
    overflow-x: hidden;
}

#navbar a:hover{
    cursor: pointer;
    transform: scale(1.05);
}
#navbar{
    font-family: "Alatsi", sans-serif;
    position: absolute;
    height: 100vh;
    right: 0;
    top: 0;
    width: 250px;
    background-color: #BBC2AF;
    z-index: 1;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 2rem;
    font-weight: bolder;
    padding:40px;
    padding-top: 77px;
    gap: 32px;
}

#page-content{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 80px);
    overflow: hidden;
}

#side-bar{
    width: 250px;
    min-width: 250px;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 100%;
 
}

#routines-list{
    flex-grow: 100;
    /* flex-shrink: 2; */
    overflow-y: scroll;
    overflow-x: hidden;
    height: auto;
    padding-bottom: 0;
    margin-bottom: 0;
  
}

#routines-list::-webkit-scrollbar {
    display: none;
}

#search-bar-div{
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    position: relative;
}

#mag-glass{
    position:absolute;
    right: 15px;
    align-self: center;
    width: 25px;
}
#search-bar{
    padding: 7.8px;
    padding-left: 10px;
    border-radius: 15px;
    border: 1px solid black;
    width: 99%;
    position: relative;
    padding-right: 33px;
    font-size: 1rem;
    
}


#new-routine-sidebar-button{
    width: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
    border: none;
    color: white;
    background-color: #4A513F;
    font-size: 1.4rem;
}

#logout-lock-options{
    display: flex; flex-direction: row;
    align-items: center;
    height: fit-content;
    justify-content: center;
    /* padding-top: 18px; */
    font-size: 1.3rem;
    border-top: 5px solid #4A513F;
    padding-top: 9px;
    height: fit-content;
    padding-bottom: 0;
    padding-bottom:3px;
}

#logout-lock-options p{
    margin-bottom: 10px;
}

#logout:hover, #lock:hover{
    cursor: pointer;
    text-decoration: underline;
} 

button:hover{
    cursor: pointer;
}


#routine-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 2;
    overflow-y: scroll;
    padding-bottom: 50px;
}

#blank-routine-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 2;
    padding-top: 20px;
    gap: 5px;

    
}


#new-routine-btn{
    background-color: #4A513F;
    color: white;
    font-family: "Alatsi", sans-serif;
    font-weight: bold;
    font-style: normal;
    height: fit-content;
    font-size: 1.5rem;
    padding: 18px;
    padding-right: 50px;
    border-radius: 15px;
    margin-top: 25px;
    position:relative;

    
}


#plus-btn{
    position: absolute;
    width: 32px;
    right: 10px;
    top:15px;
}


h2{
    font-family: "Alatsi", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 29.516px;
    color: rgb(33, 37, 41);
}


#title-input{
    display: block;
    padding: 10px;
    font-size: 2rem;
    width: 100%;
    font-weight: bold;
    outline: none;
    margin-bottom: 0;
    padding-bottom: 0;

}




.routine-li{
    padding: 5px;
    height:60px;
}

.routine-li{

    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    overflow: hidden;
    align-items: center;
}

.routine-li-content{
    width: 180px;
    display: flex;
    flex-direction: column;
    gap:0;
    padding-left:5px;
    padding-bottom: 4px;
    justify-content:center;
    overflow: hidden;
    min-height: 30px;
    max-height: 30px;

   
}

.routine-li-content p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 1.2rem;
    
   

}

.routine-li[data-selected='false']{
    background-color: #D9D9D9;
}

.routine-li[data-selected='true']{
    background-color: #BBC2AF;
}

.routine-li:hover{
    cursor: pointer;
}

.routine-task-count{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    font-weight: bold;

}

br{
    height: 0;
}

.routine-task-count p{
    padding: 0;
    margin: 0;

}

.task-count-num{
    font-size: 1rem;
}

.task-count-text{
    font-size:0.7rem;
}



.deletedItem{
    animation-name: Delete;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

}

.createdItem{
    animation-name:Create;
    animation-duration: 0.2s;
    /* animation-fill-mode: forwards; */
    animation-timing-function: ease-in-out;
}

@keyframes Delete{
    0%{
        overflow: hidden;
        height: 60px;
    }
    100%{
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}

@keyframes Create{
    0%{
        height: 0;
        padding-top:0;
        padding-bottom: 0;
    }
    100%{
        height: 60px;
        padding-top: 5px;
        padding-bottom:5px;
    }
}


#delete:hover, #new-task:hover, #refresh:hover{
    cursor: pointer;
}